.container{
    margin: 80px 20%;
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2{
            margin-bottom: 0px;
        }
        img{
            cursor: pointer;
            height: 17px;
            margin-right: 10px;
        }
    }
    .mat-elevation-z1{
        padding: 3% 5%;
    }
    .text-field{
        width: 100%;
        :disabled{
            color:black;
        }
    }
    .row{
        text-align: center;
        button {
            width: 35%;
            height: 50px;
            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 500px) {
    .container{
        margin: 80px 5%;
    }  
}