<div class = "flex-spread">
<h2>Login into CIBC</h2>
<img (click) = "dialog.closeAll()" src="https://img.icons8.com/sf-regular-filled/48/000000/multiply.png"/>
</div>
<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input  type = "email" matInput formControlName="email" name = "email" placeholder="Ex. john@yahoo.in" value="">
      <mat-error *ngIf="userEmail.touched && userEmail.invalid" [ngClass] = "'error'"> Email is required. </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type = "password"  matInput formControlName="password" placeholder="Enter Password">
      <mat-error *ngIf="userPassword.touched && userPassword.invalid" [ngClass] = "'error'"> Password is required. </mat-error>

    </mat-form-field>
    <div class = "button-cont">
    <button mat-raised-button color ="primary" type = "submit" >LOG IN</button>
    <div class = "dont-have"><label>Don't have an account? </label> <span (click) = "authService.openModal('register')">Create One</span></div>
    </div> 

  </form>
