@import "../../../theme/palette.scss";
.example-full-width{
    width: 100%;
    margin: 10px 0px;
}
.flex-spread{
    display: flex;
    justify-content: space-between;
    img{
        height: 30px;
        cursor: pointer;
        opacity: .3;
        margin-right: -15px;
        margin-top: -15px;
    }
}
.button-cont{
text-align: center;
button{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.dont-have{
    margin-top: 13px;
    span{
        color: $secondary;
        cursor: pointer;
    }
}
}