$brand-red: (
    50 : #f8e4e8,
    100 : #edbcc5,
    200 : #e28f9f,
    300 : #d66278,
    400 : #cd415b,
    500 : #c41f3e,
    600 : #be1b38,
    700 : #b61730,
    800 : #af1228,
    900 : #a20a1b,
    A100 : #ffcfd3,
    A200 : #ff9ca4,
    A400 : #ff6975,
    A700 : #ff4f5d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/* For use in src/lib/core/theming/_palette.scss */
$brand-green: (
    50 : #e4f3e4,
    100 : #bce1bc,
    200 : #90cd8f,
    300 : #64b862,
    400 : #42a941,
    500 : #219a1f,
    600 : #1d921b,
    700 : #188817,
    800 : #147e12,
    900 : #0b6c0a,
    A100 : #9fff9e,
    A200 : #6dff6b,
    A400 : #3bff38,
    A700 : #21ff1f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$primary: #C41F3E;
$secondary: #219A1F;

